p, .paragraph{
    @apply mb-2;
    ol,ul{
        list-style: initial;
        @apply pl-4;
    }
}

#root{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.page-wrapper{
    @apply px-5;
    @screen lg{
        @apply px-40;
    }
}
.page-wrapper-wide{
    @apply px-8;
    @screen lg{
        @apply px-44;
    }
}

//Divider
.divider {
    border-top: 1px solid;
    @apply border-gray-200 w-full;
}

//Hover
.hvr{
    &:before,
    &:after{
        @apply bg-primary;
    }
}

//Carousel
.carousel-root,
.carousel.carousel-slider,
.slider-wrapper,
ul.slider {
    @apply h-full;
}


.carousel-root{
    .carousel-nav{
        @apply z-10;
        position: absolute;
        width:36px;
        height: 36px;
        top: 50%;
        transform: translateY(-18px);
        @screen lg{
            width:50px;
            height: 50px;
            transform: translateY(-25px);
        }
        &:before{
            content: "";
            @apply bg-gray-50 rounded-full shadow
            z-10 w-full h-full top-0 left-0 absolute;
        }
        &:hover:after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
        &:after {
            content: "";
            position: absolute;
            top: -10px;
            left: -10px;
            height: -webkit-calc(100% + 20px);
            height: calc(100% + 20px);
            width: -webkit-calc(100% + 20px);
            width: calc(100% + 20px);
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.05);
            transform: scale(0);
            z-index: 0;
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

        }
        &.prev{
            left:15px;
        }
        &.next{
            right:15px;
        }
        svg{
            @apply absolute top-0 left-0 p-3 w-full h-full z-20 text-primaryDark;
        }
    }

}

.embed-responsive {
    position: relative;
    overflow:hidden;
    &.responsive-16by9{
        padding-bottom:56.25%;
    }
    &.responsive-1by1{
        padding-bottom:100%;
    }
    embed,img,video,iframe {
        @apply absolute w-full h-full top-0;
    }
}

.icon-hvr{
    @apply relative;
    &:hover:after {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    &:after {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        height: -webkit-calc(100% + 20px);
        height: calc(100% + 20px);
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        transform: scale(0);
        z-index: 0;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
    }

}

.button-hvr{
    @apply z-10;
    position: absolute;
    width:36px;
    height: 36px;
    top: 50%;
    transform: translateY(-18px);
    @screen lg{
        width:50px;
        height: 50px;
        transform: translateY(-25px);
    }
    &:before{
        content: "";
        @apply bg-gray-50 rounded-full shadow
        z-10 w-full h-full top-0 left-0 absolute;
    }
    &:hover:after {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    &:after {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        height: -webkit-calc(100% + 20px);
        height: calc(100% + 20px);
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        transform: scale(0);
        z-index: 0;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;

    }
    svg{
        @apply absolute top-0 left-0 p-3 w-full h-full z-20 text-primaryDark;
    }
}

//FORM
[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    border-color: inherit;
    &:focus{
        @apply border-primary ring-primary;
    }
}

.full-description{
    h2,h3,h4,h5,h6{
        @apply mb-4 font-semibold;
    }
    h2{
        @apply text-2xl;
    }
    h3{
        @apply text-xl;
    }
    h4{
        @apply text-lg;
    }
}

//
.img_claim{
    @apply inline-block w-20 h-20 align-middle object-contain;
}
