#header {
    &.site-header {
        background-color: rgba(255, 255, 255, 0.7);
    }

    header {
        .header-wrapper {
            @apply px-5;
        }

        .top-part .head-content,
        .bottom-part {
            @apply flex justify-center relative;
        }

        .top-part {

            .head-content{
                @apply my-4;
            }

            .site-branding img {
                height: 50px;
                width: 200px;
                object-fit: contain;
            }
            .icon-nav{
                @apply absolute flex right-0 top-0 bottom-0;
                a{
                    padding: 13px;
                    font-size:24px;
                    @apply text-gray-500 inline-block;
                }
                li:last-child > a{
                    padding-right:0;
                }

            }
        }

        .bottom-part {
            nav>ul>li {
                float: left;
                @apply font-semibold;

                a {
                    @apply px-3 py-2 block;
                }
            }
        }
    }
}
