.product-container{
    margin-left:-15px;
    margin-right: -15px;

    &.column-4 .product-content{
        @apply inline-block w-1/2 md:w-1/4;
    }
}
.product-content{
    padding-left: 15px;
    padding-right:15px;

    @apply inline;
    .image-wrap{
        @apply overflow-hidden relative rounded-sm;
    }
    .text-wrap{
        @apply my-0;
        .title{
            @apply text-lg font-semibold;
        }
        .price{
            @apply font-semibold;
        }
    }
}
